{{ define "main" -}}

  <section class="one" data-aos="zoom-in">
    <div>
      <div class="row">
        <div class="col mb-5 text-center">
          <h1>Tomou a decisão de encerrar <strong>definitivamente</strong> o seu CNPJ?</h1>
          <h2>Vire essa página e deixe que a gente resolve pra você</h2>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 text-center" data-aos="flip-right">
          <img src="/illustrations/undraw_mic_drop_uuyg.svg" class="img-fluid">
        </div>

        <div class="col-sm-12 offset-md-1 col-md-7">
          <ul class="list-unstyled">
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Fazemos uma análise completa em busca de pendências fiscais e tributárias</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> O processo é 100% transparente. Você pode acompanhar todas as etapas através do nosso aplicativo</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Fechamos a sua empresa em prazo recorde</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Utilizamos o seu próprio certificado digital (você pode adquirir um novinho em folha se preferir)</li>
          </ul>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg btn-primary mt-5">Quero fechar minha empresa</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="two" data-aos="zoom-in">
    <a name="sobre"></a>
    <div>
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1>Quem somos? Aonde vivemos?<br><del>Como nos reproduzimos?</del></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-7">
          <p class="fs-4 xs-center">A PJ Park é uma startup construída com amor em Maringá ❤️</p>

          <p class="fs-4 xs-center">Oferecemos serviços online de regularização e manutenção de empresas inativas a um preço super reduzido.<br>Só R$ 59,90 mês!</p>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg mt-5 btn-primary">Quero ser cliente</a></p>
        </div>

        <div class="col-sm-12 col-md-4 text-center" data-aos="flip-left">
          <img src="/illustrations/best_place.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
{{- end }}
