{{ define "main" -}}

  <section class="one" data-aos="zoom-in">
    <div>
      <div class="row mb-5">
        <div class="col text-center">
          <h1>Serviços adicionais</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-7">
          <ul class="list-unstyled">
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Abertura de empresa</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Alteração de contrato social</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Baixa de empresa</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Certidão Negativa de Débitos</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Certificado digital</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Contabilidade retroativa</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Declarações</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Emissões e parcelamento de guias do governo</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Imposto de Renda Pessoa Física</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span>Regularização de empresa</li>
          </ul>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-4 text-center">
          <img src="/illustrations/undraw_chore_list_re_2lq8.svg" class="img-fluid">

          <p class="my-5"><i><small>Você pode solicitar os serviços adicionais através do chat abaixo</small></i></p>
        </div>
      </div>
    </div>
  </section>

  <section class="two" data-aos="zoom-in">
    <a name="sobre"></a>
    <div>
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1>Quem somos? Aonde vivemos?<br><del>Como nos reproduzimos?</del></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 offset-md-1 col-md-7">
          <p class="fs-4 xs-center">A PJ Park é uma startup construída com amor em Maringá ❤️</p>

          <p class="fs-4 xs-center">Oferecemos serviços online de regularização e manutenção de empresas inativas a um preço super reduzido.<br>Só R$ 59,90 mês!</p>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg mt-5 btn-primary">Quero ser cliente</a></p>
        </div>

        <div class="col-sm-12 col-md-4 text-center" data-aos="flip-left">
          <img src="/illustrations/best_place.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <div class="row" data-aos="zoom-in">
    <div class="col-md-12 my-5 text-center">
      <p>Os serviços adicionais são fornecidos através um escritório de contabilidade parceiro e podem conter taxas extras cobradas pelos órgãos competentes (cartórios, prefeituras, estados ou união)</p>
    </div>
  </div>

{{- end }}
