{{ define "main" -}}

  <section class="one" data-aos="zoom-in">
    <div>
      <div class="row mb-5">
        <div class="col text-center">
          <h1>O <strong>primeiro</strong> escritório online especializado em empresas inativas</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-7">
          <ul class="list-unstyled">
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Não vai usar seu CNPJ por um tempo?</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Não vai emitir Notas Fiscais por alguns meses?</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Acha que está pagando muito caro pela contabilidade da sua empresa inativa?</li>
          </ul>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg btn-primary mt-5">Estacione sua empresa aqui</a></p>
        </div>
        <div class="col-sm-12 offset-md-1 col-md-4 text-center">
          <img src="/illustrations/undraw_proud_coder_re_exuy.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="two" data-aos="zoom-in">
    <div>
      <div class="row">
        <div class="col mb-5 text-center">
          <h1><strong>Cuidamos 100% das obrigações</strong> da sua empresa inativa</h1>
          <h2>Deixa com a gente! Cuidamos da sua empresa inativa <u>com carinho</u> ❤️</h2>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-12 col-md-4 text-center" data-aos="flip-right">
          <img src="/illustrations/super_thank_you.svg" class="img-fluid">
        </div>

        <div class="col-sm-12 offset-md-1 col-md-7">
          <ul class="list-unstyled">
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Declarações (GFIP, DCTF, PGDAS, DEFIS, SINTEGRA/EFD, Baixa de movimento)</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Certificado de empresa regularizada</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Parcelamento de débitos</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Reativação com 1 clique</li>
          </ul>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg btn-primary mt-5">Apenas R$ 59,90 por mês</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="three" data-aos="zoom-in">
    <div>
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1>Reunimos competência, experiência e tecnologia com a paixão do nosso time</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-7">
          <ul class="list-unstyled">
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Pretende retomar (um dia) as atividades da empresa?</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> É brasileiro e não desiste nunca?</li>
            <li class="fs-4 mb-3"><span class="lnr lnr-chevron-right"></span> Quer pensar um pouco mais antes de encerrar definitivamente as atividades da sua empresa?</li>
          </ul>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg btn-primary mt-5">Então contrate a PJ Park</a></p>
        </div>

        <div class="col-sm-12 offset-md-1 col-md-4 text-center" data-aos="flip-left">
          <img src="/illustrations/alien_science.svg" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="four" data-aos="zoom-in">
    <a name="sobre"></a>
    <div>
      <div class="row mb-5">
        <div class="col-md-12 text-center">
          <h1>Quem somos? Aonde vivemos?<br><del>Como nos reproduzimos?</del></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-4 text-center" data-aos="flip-right">
          <img src="/illustrations/best_place.svg" class="img-fluid">
        </div>

        <div class="col-sm-12 offset-md-1 col-md-7">
          <p class="fs-4 xs-center">A PJ Park é uma startup construída com amor em Maringá ❤️</p>

          <p class="fs-4 xs-center">Oferecemos serviços online de regularização e manutenção de empresas inativas a um preço super reduzido.<br>Só R$ 59,90 mês!</p>

          <p class="xs-center"><a href="https://app.pjpark.com.br" class="btn btn-lg mt-5 btn-primary">Quero ser cliente</a></p>
        </div>
      </div>
    </div>
  </section>

{{- end }}
